{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}
    Anuncios
{% endblock %}

{% block content %}
<section id="notices">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Anuncios del sitio</h1>
                      <p class="lead">Aquí puedes crear un anuncio y difundirlo a todos los usuarios para facilitar el acceso a la información de manera rápida y personalizada. <b>Crea un anuncio y elige quien o quienes pueden verlo.</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="mt-2">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Anuncios en el sitio</li>
                        <a class="ml-auto btn btn-outline-success" href="{% url 'create_notice' %}">Crear nuevo</a>
                    </ol>
                </nav>
                <br>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Mensaje</th>
                        <th scope="col">Creado</th>
                        <th scope="col">Activo</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for notices in notices %}
                        <tr>
                            <th scope="row"><a href="{% url 'update_notice' notices.id %}">{{notices.title}}</a></th>
                            <td>{{notices.content}}</td>
                            <td>{{notices.created}}</td>
                            <td>
                                {% if notices.status.id == 1 %}
                                    <img src="{% static 'core/img/check.png' %}" alt="Si">
                                {% else %}
                                    <img src="{% static 'core/img/no_check.png' %}" alt="No">
                                {% endif %}
                            </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}