{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}
    Crear usuarios
{% endblock %}

{% block content %}
<section id="create_exam">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Examenes de curso</h1>
                      <p class="lead">Cuando creas un examen para tu curso, haces que los alumnos se vean obligados a acreditar el examen para poder obtener la certificación. Crea un examen en relación al contenido de tu curso.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}