{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Mi Perfil
{% endblock %}

{% block content %}
    <section id="control-panel" class="mb-2">
        <div class="container-fluid mt-2">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-12">
                    {% for profile in profile %}
                        <div class="card-deck">
                            <div class="card">
                                {% if profile.user_image %}
                                    <img src="{{profile.user_image.url}}" class="card-img-top" alt="user_image">
                                {% else %}
                                    <img src="{% static 'core/img/not_image_user.png' %}" class="card-img-top" alt="user_image">
                                {% endif %}
                                
                                <div class="card-body">
                                <h5 class="card-title">{{user.get_full_name}}</h5>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Nombre de usuario:<br>{{user.username}}</li>
                                    {% if profile.location %}
                                        <li class="list-group-item">Ubicación:<br>{{profile.location}}</li>
                                    {% else %}
                                        <li class="list-group-item">Ubicación:<br>No especificado</li>
                                    {% endif %}
                                    {% if profile.languaje %}
                                        <li class="list-group-item">Idioma:<br>{{profile.languaje}}</li>
                                    {% else %}
                                        <li class="list-group-item">Idioma:<br>No especificado</li>
                                    {% endif %}
                                </ul>
                                </div>
                                <div class="card-footer">
                                <small class="text-muted">Último inicio de sesión: {{user.last_login}}</small>
                                <hr>
                                <small class="text-muted">Afiliado desde: {{user.date_joined}}</small>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'update-user-profile' profile.id %}" class="btn btn-info btn-lg btn-block mt-1 mb-2">Editar perfil</a>
                    {% endfor %}
                </div>
                <div class="col-lg-9 col-md-9 col-12">
                    {% for profile in profile %}
                        <div class="card border-light mb-3">
                            <div class="card-header">Acerca de mi</div>
                            <div class="card-body">
                            <h5 class="card-title">¡Algo sobre mi!</h5>
                            {% if profile.description %}
                                <p class="card-text">{{profile.description}}</p>
                            {% else %}
                                <p class="card-text">Ingresa una descripción sobre ti y lo que esperas sobre los cursos que estás por tomar. Tómate tu tiempo y escribe con confianza algo aquí.</p>
                            {% endif %}
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="card border-danger mb-3">
                            <div class="card-header">Mis certificados</div>
                            <div class="card-body text">
                            <h5 class="card-title">¡No tienes certificados!</h5>
                            {% if profile.certificates %}
                                <p class="card-text">{{profile.certificates_course}}</p>
                            {% else %}
                                <p class="card-text">Tranquilo, finaliza uno de los cursos que tengas asignados y aquí aparecerá tu certificado para validar que hayas finalizado con éxito tu curso.</p>
                            {% endif %}
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="card border-success mb-3">
                            <div class="card-header">Mis actividades</div>
                            <div class="card-body text">
                                <h5 class="card-title">Actividades enviadas</h5>
                                {% if act %}
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Curso</th>
                                            <th scope="col">Fecha</th>
                                            <th scope="col">Actividad</th>
                                            <th scope="col">Calificación</th>
                                            <th scope="col">Comentario</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for act in act %}
                                                <tr>
                                                    <th scope="row">{{act.content}}</th>
                                                    <td>{{act.created}}</td>
                                                    <td><a href="{{act.act_file.url}}" target="_blank" class="btn btn-outline-primary">Ver</a></td>
                                                    {% for calfs in calfs %}
                                                        {% if act.id == calfs.activity.id %}
                                                            <td class="table-{% if calfs.grade.grade == '5' %}danger{% endif %}">{{calfs.grade}}</td>
                                                            <td class="table-{% if calfs.grade.grade == '5' %}danger{% endif %}">{{calfs.comment}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>No hay actividades</p>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                        <hr>
                        <div class="card border-info mb-3">
                            <div class="card-header">Mis cursos</div>
                            <div class="card-body">
                                <h5 class="card-title">Cursos inscritos</h5>
                                <!--Tabla de cursos inscritos-->
                                {% if content %}
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Id curso</th>
                                            <th scope="col">Nombre de curso</th>
                                            <th scope="col">Estatus</th>
                                            <th scope="col">Calificación</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for content in content %}
                                                <tr>
                                                    <th scope="row">{{content.id}}</th>
                                                    <td>{{content.course}}</td>
                                                    <td>{{content.status}}</td>
                                                    <td>NA</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        No tienes cursos asignados
                                    </div>
                                {% endif %}
                                <h5 class="card-title">Solicitudes de cursos</h5>
                                {% if usersubs %}
                                    <table class="table">
                                        <thead class="thead-light">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre de curso</th>
                                            <th scope="col">Fecha de solicitud</th>
                                            <th scope="col">Estatus</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for usersubs in usersubs %}
                                                <tr>
                                                    <th scope="row">{{usersubs.id}}</th>
                                                    <td>{{usersubs.course}}</td>
                                                    <td>{{usersubs.subscribe_time}}</td>
                                                    <td>{{usersubs.status}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <div class="alert alert-warning" role="alert">
                                        No tienes solicitudes de cursos
                                    </div>
                                {% endif %}
                                <!--Fin de tabla para cursos-->
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}