/*Header*/
#logo-nav{
    height: 40px;
}

/*Main*/
#contenido #baseimage{
    height: 300px;
}


/*Footer*/
#footer{
    background-color: #f92727;
    padding: 15px;
    text-align: center;
}
#footer h5{
    color: white;
}
#footer a,
#footer p{
    text-decoration: none;
    color: white;
}
#footer h5:hover{
    transition: .5s;
    color: gold;
}