{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Ética de usuario
{% endblock %}

{% block content %}
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                      <h1 class="display-4">Ética de usuario</h1>
                      <p class="lead">En este apartado se muestra la <b>Ética de usuario</b> junto con los lineamientos de conducta del sitio.</p>
                      <br>
                      <p class="lead">Es importante que leas éste apartado para estar de acuerdo con los lineamientos de conducta y tu experiencia en el sitio sea lo más satisfactoria posible.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}