{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Panel de Control
{% endblock %}

{% block content %}
    <section id="control-panel" class="mb-2">
        <div class="container mt-3">
            <div class="row">
                <div class="col-lg-8 col-md-10 col-12">
                    <div class="alert alert-info" role="alert">
                        {{user.get_full_name}} | Mis cursos
                    </div>
                    {% if usercourse %}
                        {% for usercourse in usercourse %}
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <img src="{{usercourse.course.image.url}}" alt="..." class="img-thumbnail">
                                </div>
                                <div class="col-lg-5 col-md-5 col-12">
                                    <h1 id="{{usercourse.id}}">{{usercourse.course}}</h1>
                                    <p>{{usercourse.course.description}}</p>
                                    <hr>
                                    <span>Última modificación: {{usercourse.course.updated}}</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-12">
                                    {% if usercourse.status.id == 1%}
                                        <a href="{% url 'dashboard' usercourse.id usercourse.course.title 0 %}" class="btn btn-outline-danger">Iniciar curso</a>
                                    {% elif usercourse.status.id == 3 %}
                                        <a href="{% url 'dashboard' usercourse.id usercourse.course.title 0 %}" class="btn btn-outline-warning">Continuar curso</a>
                                    {% elif usercourse.status.id == 4%}
                                        <div class="alert alert-success" role="alert">
                                            <b>Ya has terminado este curso</b>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <br>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <div class="jumbotron jumbotron-fluid">
                            <div class="container">
                            <h1 class="display-4">No hay cursos aquí</h1>
                            <p class="lead">Por el momento no tienes cursos asignados, comunícate con el personal de Desarrollo Organizacional para agregar un curso a tu perfil.</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-md-2 col-12">
                    <div class="card">
                        <div class="card-header">
                          Anuncios
                        </div>
                        <div class="card-body">
                        {% if adver %}
                            {% for adver in adver %}
                                <blockquote class="blockquote mb-0">
                                    <p>{{adver.title}}</p>
                                    <small>{{adver.content}}</small>
                                    <br>
                                    {% if adver.image_adver %}
                                        <img src="{{adver.image_adver.url}}" class="img-fluid" alt="">
                                    {% endif %}
                                    <br>
                                    {% if adver.link_adver %}
                                        <a href="{{adver.link_adver}}" target="_blank">Ver enlace</a>
                                    {% endif %}
                                    <br>
                                    <footer class="blockquote-footer"><cite title="Source Title">{{adver.updated}}</cite></footer>
                                </blockquote>
                                <hr>
                            {% endfor %}
                        {% else %}
                            <blockquote class="blockquote mb-0">
                                <p>No hay anuncios para mostrar.</p>
                            </blockquote>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}