/*Header*/
#logo-nav{
    height: 40px;
}

/*Main*/
/*Scroll-Spy*/
body{
    position: relative;
}

/*Courses Card's style*/
#image-courses{
    height: 100%;
    width: 100%;
}

/*Footer*/
#footer{
    background-color: #f92727;
    padding: 15px;
    text-align: center;
}
#footer h5{
    color: white;
}
#footer a,
#footer p{
    text-decoration: none;
    color: white;
}
#footer h5:hover{
    transition: .5s;
    color: gold;
}

/*Modals*/
#error_sesion{
    transition: 1s;
    color: darkred;
}