{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Cursos
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h1 class="display-4">Base de conocimientos</h1>
                    <p class="lead">Aquí puedes buscar los cursos, capacitaciones o inducciones que gustes, recuerda que debes tomar los cursos que sean de tu área o te favorezcan a tu formación profesional</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-5 col-12">
                <!--Barra de busqueda-->
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline" id="search-title" method="GET">
                        <input class="form-control mr-sm-6" type="search" placeholder="¿Qué buscamos?" aria-label="Search" name="buscar">
                        <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit">Buscar</button>
                    </form>
                </nav>
                <!--Barra de busqueda-->
            </div>
        </div>
        <section id="contenido">
            <div class="row mt-2">
                {% for content in contents %}
                <div class="col-lg-4">
                    <!--Resultado de contenidos-->
                    <div class="card mb-2" id="{{content.id}}">
                        <a href="{% url 'preview-course' content.id %}">
                            <img src="{{content.image.url}}" class="card-img-top" alt="Imagenes de cursos" id="baseimage">
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                <h3>{{content.title}}</h3>
                                {{content.description}}
                            </p>
                            <hr>
                            <p>{{content.updated}}</p>
                        </div>
                    </div>
                    <!--Resultado de contenidos-->
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}