{% extends 'core/base.html' %}
{% load static %}

{% block title %}
    Cursos
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                    <h1 class="display-4">Base de conocimientos</h1>
                    <p class="lead">Aquí puedes buscar los cursos, capacitaciones o inducciones que gustes, recuerda que debes tomar los cursos que sean de tu área o te favorezcan a tu formación profesional</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-12">
                <!--Barra de busqueda-->
                <section id="buscar" class="mb-3">
                    <nav class="navbar navbar-light bg-light">
                        <form class="form-inline" id="search-title" method="GET">
                            <input class="form-control mr-sm-6" type="search" placeholder="¿Qué buscamos?" aria-label="Search" name="buscar">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                    </nav>
                </section>
                <!--Barra de busqueda-->
                <!--Resultado de contenidos-->
                <section id="resultado">
                    <div class="container">
                        <div class="row">
                            {% for content in contents %}
                                <div class="col-lg-6 col-12">
                                    <div class="card mb-3" id="{{content.id}}">
                                        <a href="{% url 'preview-course' content.id %}">
                                            <img src="{{content.image.url}}" class="card-img-top" alt="Imagenes de cursos" id="image-courses">
                                        </a>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <h3>{{content.title}}</h3>
                                                {{content.description}}
                                            </p>
                                            <hr>
                                            <p>{{content.updated}}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>
                <!--Resultado de contenidos-->
            </div>
        </div>
    </div>
{% endblock %}