{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
{% for usercourse in usercourse %}
    {% if usercourse.status.id == 1 %}
        <section id="Bienvenida">
            <div class="container mt-3">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <strong><h1 class="display-4 mb-5">¡Bienvenido {{user.get_full_name}}!</h1></strong><p class="lead">Entraste al curso de <b>{{usercourse.course.title}}</b>, ahora sigue capacitarte. Comienza con los cursos indicados por el área de DO y preparate para la operación.</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </section>
    {% else %}
        <section id="Bienvenida">
            <div class="container mt-3">
                <div class="alert alert-secondary alert-dismissible fade show" role="alert">
                    <strong><h1 class="display-4 mb-5">Hola de nuevo {{user.get_short_name}}!</h1></strong><p class="lead">Continua con tu curso y sigue creciendo dentro de la empresa, ¡Tu puedes!</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </section>
    {% endif %}
{% endfor %}
{% endblock %}